/* Sample Webpage Lab  style.css - Note that you need to fill this in yourself! */

body {
  /* Body styles go here.  Example:
  font: 12px "Times New Roman", Arial, sans-serif;
  background: #FFFFFF
  */
}

p {
  /* You can format other tags like <p> also
}

a {
  /* Formatting links */
}

a:active {
  /*
Different formatting for active links- there's also
  a:visited and a:hover */
}

/* Other possible style blocks go here... */




h {
    letter-spacing: 0.005em;
    word-spacing: 0.1em;
    line-height: 1.0;
    text-align: left;
    color: black;
    font-size: 16px;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 17px;
    color: black;
    background-color: #fed;
    margin: 19px;
    padding: 0;
}



p {
    letter-spacing: 0.005em;
    word-spacing: 0.1em;
    line-height: 1.0;
    text-align: left;
    color: black;
    font-size: 16px;
}

table {
    border-style: dashed;
    border-width: 2.3px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    color: blue;
    border-color: pink;
    text-align: center;


}



a {
    color: brown
}


.box {
	border: 1px solid red;
	padding: 11 px; /*springs pushing outward, increases size*/
	margin-bottom: 10px;
	/*background-color: red;*/
	color: white;
	font-weight: bold;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	

}

#mega-box { /*personal identifier*/
	border: 1px solid blue;
	padding: 10 px;
	background-color: black;

}





#nav li {
	float: left;
	margin-right: 10px;	 
}


.wrapper {
border: 1px solid black;
padding: 10px;
width: 400px;
margin: 0 auto;

